{# render element defined in src/Plugin/Field/FieldWidget/SocialPostControllerToggles.php #}

<label class="form-item__label">{{ element.platform_title }}</label>
{{ element.status }}
{{ element.message }}
